{% extends "base.html" %}
{% block maincontent %}


        <div class="col-lg-6 col-lg-offset-3">
            <div class="well bs-component">
              <form  class="form-horizontal" action="{{ url_for('blog.create_post') }}" method=post>
                <fieldset>
                  <legend>New Blog Post</legend>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputPassword">{{ form.URI.label }}</label>
                    <div class="col-lg-10">
                         {{ form.URI(class_="form-control",rows="3",placeholder="Name") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputPassword">{{ form.Title.label }}</label>
                    <div class="col-lg-10">
                         {{ form.Title(class_="form-control",rows="3",placeholder="Name") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="textArea">{{ form.Content.label }}</label>
                  <div class="col-lg-10">


    {{ form.Content(class_="form-control",rows="3") }}
                      <span class="help-block">Markup</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        {{ form.hidden_tag() }}
                      <button class="btn btn-default" type="reset">Cancel</button>
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

{% endblock %}