.fa-36 {
    font-size:36px;
}

.fa-6 {
    font-size:6px;
}

footer {

    margin-top: 55px;

}


.ME {


}

.row {
    margin-top: 25px;
}

img {
    width: 100%;
}

#map { position:absolute; top:0; bottom:0; width:100%; }