{% extends "base.html" %}
{% block maincontent %}






    <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
                <div class="btn-group open pull-right">
                  <span class="btn btn-success" >Hire</span>
                  <a data-toggle="dropdown" class="btn btn-success dropdown-toggle" href="#" aria-expanded="True"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li>Available:</li>
                    <li><a href="#">Speaking Engagement</a></li>
                    <li><a href="#">Consulting</a></li>
                    <li><a href="#">Web Develpment</a></li>
                    <li class="divider"></li>
                      <li>Unavailable:</li>
                    <li><a href="#">Full Time</a></li>
                  </ul>
                </div>
              <h1 id="type">About</h1>

            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <div class="bs-component">
              <h2>Professional Bio</h2>
              <p>Kerry Hatcher is a Systems Engineer for AutoTrader as well as a Signal Support Systems Specialist for the Georgia Department of Defense. He was previously a civilian contractor for the United States Marine Corps as a Linux Systems Engineer. He has also supported law enforcement agencies across the state in their 911 and dispatch centers as a Network Administrator and Field Engineer. Mr. Hatcher has a strong focus on service uptime, Linux systems automation, and open source python development. Lately, he has been using AWS APIs to solve massive data ingestion and processing in real time, as well as using Heroku and Google to quickly bring visualizations to decision makers. </p>
            </div>

          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <div class="bs-component">
              <img class="ME" src="{{url_for('static', filename='img/dsc04997.jpg')}}" />
            </div>

          </div>
        </div>

                <!-- Blockquotes -->


        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <p>"Mr. Hatcher is a top tier networking, scripting, and programming professional. His ability to analyze technical problems and scenarios is nothing short of professional. He is an amazingly fast learner,picking up new specifications or methodologies in last-minute project changes and challenges. This has lead to him extending his reach beyond the role of network administrator and into areas of software developments and systems administration concurrently. He always is willing to expand and will always at least try to fix a problem before escalating, and when he does, he provides the necessary information to make the associated job a simple task to process. His pursuit of excellence in the technical field is both admirable and inspiring."</p>
                <small>Marshall Rhoades <cite title="Source Title">Systems Programmer at Georgia Farm Bureau</cite></small>
              </blockquote>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote class="pull-right">
                <p>Kerry Hatcher is a genius Network Administrator with a vast array of skills, he has assisted my division in a DevOps role and helping install and maintain key aspects of our infrastructure. Kerry's work ethic is extraordinary, going extreme lengths to ensure that the City's infrastructure is always up and running at peak performance.

I would recommend Kerry for any role in IT, he is a leader and a great teacher. </p>
                <small>Justin Crum <cite title="Source Title">Webmaster - Macon-Bibb County</cite></small>
              </blockquote>
            </div>
          </div>
        </div>




      </div>

{% endblock %}

{% block scripts %}
  {{super()}}
    <script type="text/javascript">
$(document).ready(function () {
    $("#type").click();
});
    </script>
{% endblock %}